{% extends 'base.html.twig' %}

{% block title %}
    Categories
{% endblock %}

{% block body %}
<style>
    /* Style pour le fond d'écran et l'ajustement */
    body {
	background-size: cover;
  background-color: pink;
	min-height: 100vh;
	background-attachment: fixed;
    
    }
    .footer {
        background-color: #fff; /* Couleur de fond blanc */
        padding: 20px; /* Ajoutez un espacement si nécessaire */
    }
    .carte-categorie {
        height: 400px; /* Vous pouvez ajuster la hauteur selon vos besoins */
    }
</style>

<div class="contenu">
    <br><br><br><br>
    <h1 class="fst-italic text-center text-white">Notre carte</h1>
    <main class="container">
        <div class="row">
            {# Boucle à travers les catégories pour afficher les cartes #}
            {% for categorie in categories %}
                <div class="col-md-6 mb-2 mt-3">
                    <div class="card carte-categorie" style="width: 18rem; background: rgba(255, 255, 255, 0.8);">

                        {# Lien vers la page de la catégorie avec une image cliquable #}
                        <a href="{{ path('app_plats_categorie', {'categorie_id': categorie.id}) }}">
                            <img class="card-img-top mx-auto" src="{{ asset(categorie.image) }}" alt="{{ categorie.libelle }}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ categorie.libelle }}</h5>
                        </div>
                    </div>
                </div>
                {% if loop.index is even %}
                </div>
                <div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </main>
</div>

<br>
{% endblock %}
