{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
<br><br><br><br>
 <h1>Formulaire de Paiement</h1>

    <form action="{{ path('app_paiement_process') }}" method="post">
        <label for="cardNumber">Numéro de carte :</label>
        <input type="text" id="cardNumber" name="cardNumber" placeholder="1234 5678 9012 3456" required><br>

        <label for="expirationDate">Date d'expiration :</label>
        <input type="text" id="expirationDate" name="expirationDate" placeholder="MM/YY" required><br>

        <label for="ccv">CCV :</label>
        <input type="text" id="ccv" name="ccv" placeholder="123" required><br>

        <button type="submit">Payer</button>
    </form>

    <br><br><br><br>
{% endblock %}

